[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule "bundle/vim-vroom"]
	path = bundle/vim-vroom
	url = git@github.com:skalnik/vim-vroom.git
[submodule "bundle/vim-tmux-navigator"]
	path = bundle/vim-tmux-navigator
	url = git@github.com:christoomey/vim-tmux-navigator.git
[submodule "bundle/EnhCommentify.vim"]
	path = bundle/EnhCommentify.vim
	url = git@github.com:vim-scripts/EnhCommentify.vim.git
[submodule "bundle/QuickBuf"]
	path = bundle/QuickBuf
	url = git@github.com:vim-scripts/QuickBuf.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = git@github.com:vim-ruby/vim-ruby.git
